/* FailedLogin.css 

   This file sets the styling for the failed login button.
   
   People who have worked on this file: Autumn, Josh
   Last worked on: 2/15/2024*/

.loginfailed {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff; /* Set background color to red */
	color: #000; /* Set text color to white */
	padding: 20px; /* Adjust padding as needed */
	border-radius: 10px; /* Add border-radius for rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 9999; /*so that the error will appear infront of everything else*/
}

.loginfailed button {
	background-color: #cd0001; /* Make button background transparent */
	color: #fff;
	border: none; /* Add border to the button */
	border-radius: 10px;
	padding: 8px 16px; /* Adjust padding as needed */
	cursor: pointer;
	align-self: flex end;
}

.loginfailed button:hover {
	background-color: #960606;
	color: #fff;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
	z-index: 999; /* Ensure it appears above other content */
}
