/* FailedLogin.css */

.loginfailed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d11515; /* Set background color to red */
    color: #fff; /* Set text color to white */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /*so that the error will appear infront of everything else*/
  }
  
  .loginfailed button {
    background-color: transparent; /* Make button background transparent */
    color: #fff;
    border: 1px solid #fff; /* Add border to the button */
    padding: 5px 10px; /* Adjust padding as needed */
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate button from the text */
  }