/* Headers.css 

   This file sets the styling for the headers for each profile type.
   
   People who have worked on this file: Autumn
   Last worked on: 4/11/2024*/

.header {
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: #000;
	text-decoration: none;
}

.logo {
	font-size: 30px;
	font-weight: bold;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Default item style */
.menuitem {
	padding: 8px 16px;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap; /* this means that text will stay on one line */
}

/* Item style when hovering over it */
.menuitem:hover {
	padding: 8px 16px;
	background-color: #26b170;
	color: #fff;
	border: none;
	border-radius: 10px; /* rounded corners */
}

/* Item style when item is selected */
.menuitem.active {
	padding: 8px 16px;
	background-color: #01377d;
	color: #fff;
	border: none;
	border-radius: 10px;
}

.menu-logout {
	position: flex;
	align-items: flex-end;
	display: block;
	border: none;
	border-radius: 10px;
	width: 100%;
	padding: 8px 16px;
	background-color: #cd0001;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}

.menu-logout:hover {
	background-color: #8e0000;
	color: #fff;
}
