/*styling for the login page, might have to change the .app name*/

.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #bdbdbd;
  }
  
  .auth-form-container, .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    background-color: #dddddd;
    align-items: center;
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .link-btn {
    background-color: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  /* end of styling for login page */