/* App.css */
/* CSS that applies to full website 

   People who have worked on this file: Autumn, Josh
   Last worked on: 1/15/2024*/

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;;
  background-color: #fff;
}

.button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #01377d;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  background-color: #26b170;
}